body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.centertext {
    animation: fadeInAnimation ease 1s;
    font-size: larger;
    text-shadow: 2px 2px 4px black;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    /*transform: translate(-50%, -50%);*/
    border: 5px solid black;
    border-radius: 20px;
    padding: 30px;
    transition: transform .4s ease-in-out;
}

.centertext:hover {
    transform: rotate(5deg);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}